<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="no.uka.findmyapp.android.rest.client"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application>
		<provider android:name="no.uka.findmyapp.android.rest.providers.EventsProvider" 
		android:authorities="no.uka.findmyapp.android.rest.providers" android:exported="true" >
		<grant-uri-permission android:pathPattern=".*" />
		</provider> 
    </application>
</manifest>